h1 {
  font-size: 2rem;
  color: #007bff;
  text-align: center;
  margin-bottom: 20px;
}
.pedido-form {
  width: 30rem;
  margin: 15rem auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 40px 50px rgba(0, 123, 255, 0.5); 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.pedido-form h2 { 
  text-align: center;
  color: #007bff;
  filter: saturate(2);
  margin-bottom: 20px;
  font-size: 1.4rem;
}

.pedido-form div {
  margin-bottom: 15px;
}

.pedido-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #777;
  font-size: 1.2rem;
}

.pedido-form select {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  color: #555;
  margin-top: 1rem;
  cursor: pointer;
}

.pedido-form select:focus {
  border-color: #007bff; 
  border: 2px solid #007bff; 
  outline: none; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

.pedido-form select option {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.pedido-form button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 2rem;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-left: 35%;
  margin-top: 1rem;
}

.pedido-form button:hover {
    transform: scale(1.1);
    filter: saturate(2.8);
    transition: all 0.3s ease;
    
}